{
  "printWidth": 120,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "semi": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto"
}
